* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.32rem;
}
a {
  text-decoration: none;
  color: #333333;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
